<div class="container text-center">
    <div>
    <h1>KRÓLOWA POLSKI! HETMANKA HUSARII! </h1>
    Od pierwszych chwil istnienia państwa, ochrzczony naród polski związał<br> 
    swe losy z Najświętszą Maryją Panną. Bogurodzica Dziewica, której imię<br>
    wychwalane jest w najstarszej znanej pieśni polskiej, stała się prawdziwą<br> 
    Hetmanką Narodu. Ta Przeczysta Panna błogosławiła Piastom i Jagiellonom <br>
    ilekroć Królestwo Polskie było wierne Jej i Chrystusowi Panu. <br>
    Wielokrotnie ochraniała swym macierzyńskim płaszczem uciekających się <br>
    pod Jej obronę Polaków. W miesiącu sierpniu winniśmy w sposób szczególny <br>
    pamiętać i dziękować za wielkie zwycięstwa, których dostąpił nasz kraj <br>
    za sprawą Królowej Korony Polskiej i prosić, aby zechciała ustrzec nas <br>
    od grożących niebezpieczeństw. <br>
    </div>
    <div class="mt-3">
    Marsz, marsz me serce, pobudkę biją,<br>
    Czytaj modlitwy, a chwal Maryją:<br>
    Bo u Maryi jesteś w komendzie,<br>
    Mocniejszej nad nią w świecie nie będzie.<br>
    <br>
    Fergadron biją, stawaj do tropu!<br>
    Żadnemu Pani nie da urlopu,<br>
    Bo urlop życia sam nie wiem długo,<br>
    Jednak tej Pani na wieki sługo.<br>
    <br>
    Stań do parolu, odbierz go śmiało,<br>
    By to w mym sercu na wieki trwało.<br>
    Parol jest Jezus, hasło Maryja,<br>
    Niech to w mym sercu na wieki sprzyja.<br>
    <br>
    Wierz w artykuły mocno w tej mierze,<br>
    Byś powinności pilnował szczerze.<br>
    Jak wzgardzisz Panią, będziesz w areszcie,<br>
    Wspomnisz o życia swojego reszcie.<br>
    <br>
    Jak sobie wspomnę, że w Jej rejmencie<br>
    Mógłbym ja stanąć w niebie w momencie,<br>
    Dezerterować od niej nie mogę,<br>
    Bo ta w mem sercu uczyni trwogę.<br>
    <br>
    Capstrzyk już biją, zamknij fortecę,<br>
    Idź do kwatery z wojska, człowiecze:<br>
    Tam ci należy, tam ci iść każą,<br>
    A jak nie pójdziesz, z rangi wymażą.<br>
    <br>
    A przy ostatnim życia momencie<br>
    Wybrańcem Panny bądź w regimencie:<br>
    I żebyś poszedł z abszejtem swoim,<br>
    Z błogosławieństwem Maryi twojem<br>
    </div>
    
    <div class="mt-3">
        Dołącz do Chorągwi Husarskich sług Przenajświętszej Marii Panny Dziewicy!
    </div>
</div>